.text {
    color: #6b6b6b;
    font-size: 13px;
}

.title {
    color: #f36424;
    font-size: 19px;
    text-align: center;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
    .login-box {
        width: 90%;
        height: auto;
        padding: 20px;
        margin: 10% auto;
        top: 40%;
        max-width: none;
    }

    form {
        width: 100%;
    }

    .login-box .user-box input,
    .login-box .user-box label {
        font-size: 14px;
        padding: -1px 0;
        margin-bottom: 25px;
    }

    .login-box .user-box input:focus~label,
    .login-box .user-box input:valid~label {
        top: -23px;
        left: 0;
        color: #f36424;
        font-size: 12px;
    }

    .logo {
        width: 50%;
    }

    .button {
        font-size: 12px !important;
        letter-spacing: 1px !important;
    }

    .btn {
        margin-top: 5px;
    }

    .btn .button2,
    .button3 {
        letter-spacing: 1px;
        font-size: 12px;
        margin: 0px 2px 0px 2px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) and (orientation: portrait) {
    .login-box {
        width: 70%;
        height: auto;
        padding: 30px;
        margin: auto;
        top: 50%;

        @media screen and (max-width: 800px) and (orientation: portrait) {
            .login-box {
                width: 50%;
                height: 70%;
                top: 50%;
            }

            .login-box .user-box input,
            .login-box .user-box label {
                font-size: 15px;
                padding: 1vw 0;
                margin-bottom: 5vw;
            }
        }

        max-width: none;
    }

    form {
        width: 100%;
    }

    .login-box .user-box input,
    .login-box .user-box label {
        font-size: 2vw;
        padding: 2px 0;
        margin-bottom: 3vw;
    }
}


@media screen and (max-width: 800px) and (orientation: landscape) {
    .login-box {
        width: 80%;
        max-width: none;
        padding: 35px;
        height: auto;
    }

    .login-box .user-box input,
    .login-box .user-box label {
        font-size: 13px;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 4vw;
    }

    .logo img {
        width: 40%;
    }

    form {
        width: 100%;
    }

    .login-box form .button {
        font-size: 12px;
        margin-top: 0px;
    }

    .login-box .user-box input:focus~label,
    .login-box .user-box input:valid~label {
        top: -13px;
        font-size: 11px;
    }

    .title {
        margin-bottom: 15px;
        text-align: center;
    }

    .btn {
        margin-top: 5px;
    }

    .button2 {
        font-size: 12px;
        margin-top: 0;

    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) and (orientation: landscape) {
    .login-box {
        height: auto;

        .login-box {
            width: 50%;
        }

        .login-box .user-box input,
        .login-box .user-box label {
            font-size: 15px;
            padding: 1vw 0;
            margin-bottom: 5vw;
        }

        .logo img {
            width: 50%;
        }

        max-width: none;
    }

    form {
        width: 100%;
    }

    .login-box form .button {
        font-size: 12px;
        margin-top: 0px;
    }

    .login-box .user-box input:focus~label,
    .login-box .user-box input:valid~label {
        /*top: -13px;*/
        font-size: 11px;
    }

    .title {
        margin-bottom: 15px;
    }

    .btn {
        margin-top: 5px;
    }

    .button2 {
        font-size: 12px;
        margin-top: 0;

    }
}

/*Galaxy Fold*/
@media screen and (min-width: 653px) and (max-width: 800px) and (min-height: 280px) and (max-height: 320px) and (orientation: landscape) {
    .login-box {
        width: 80%;
        max-width: none;
        padding: 30px 20px 20px 20px;
        height: auto;
        top: 66%;
        bottom: auto;
    }

    .login-box .user-box input,
    .login-box .user-box label {
        font-size: 2vw;
        padding: 0;
        margin-bottom: 4vw;
    }

    .logo img {
        width: 40%;
    }

    form {
        height: 100%;
        width: 100%;
    }

    .login-box form .button {
        font-size: 12px;
        margin-top: 0px;
    }

    .login-box .user-box input:focus~label,
    .login-box .user-box input:valid~label {
        top: -13px;
        font-size: 11px;
    }

    .title {
        margin-bottom: 15px;
    }

    .btn {
        margin-top: 5px;
    }

    .button2 {
        font-size: 12px;
        margin-top: 0;
    }
}