<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Nuevo Proveedor</title>
    <link rel="icon" type="image/png" href="/img/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.1.0/dist/iconify-icon.min.js"></script>    
    <link rel="stylesheet" href="/stylesNuevoProveedor.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="cuerpo">
<div class="container">
<header>
    <a href="" class="logo">
        <img alt="Lider S.A." src="/img/logo-lider.png">
    </a>
    <h2>Nuevo Proveedor</h2>
</header>
    <form id="frmnuevo" th:action="@{/guardarProveedor}" th:object="${proveedor}" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="nombre_empresa">Empresa:</span>
            <input type="text"  th:field="*{nombre_empresa}" required="required" class="form-control" placeholder="Nombre de la empresa">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="telefono">Teléfono:</span>
            <input type="text"  th:field="*{telefono}" required="required" class="form-control" placeholder="Ingrese el codigo del pais. Ejem. +51...">
        </div>
        <div class="input-group mb-3">
            <input type="text" th:field="*{correo}" required="required" class="form-control" placeholder="Correo" aria-label="Correo" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">@ejemplo.com</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="direccion">Dirección:</span>
            <input type="text"  th:field="*{direccion}" required="required" class="form-control" placeholder="Dirección de la empresa">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="rubro">Rubro:</span>
            <select class="form-select" id="rubro" th:field="*{rubro}">
                <option value="Materiales de construcción" th:selected="${proveedor.rubro == 'Materiales de construcción'}" selected="selected">Materiales de construcción</option>
                <option value="Equipamiento y mobiliario" th:selected="${proveedor.rubro == 'Equipamiento y mobiliario'}">Equipamiento y mobiliario</option>
                <option value="Mantenimiento y limpieza" th:selected="${proveedor.rubro == 'Mantenimiento y limpieza'}">Mantenimiento y limpieza</option>
                <option value="Equipamiento de seguridad" th:selected="${proveedor.rubro == 'Equipamiento de seguridad'}">Equipamiento de seguridad</option>
                <option value="Fontanería" th:selected="${proveedor.rubro == 'Fontanería'}">Fontanería</option>
                <option value="Pinturas y revestimientos" th:selected="${proveedor.rubro == 'Pinturas y revestimientos'}">Pinturas y revestimientos</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" for="info_extra">Información:</span>
            <textarea class="form-control" id="info_extra" type="text" th:field="*{info_extra}" placeholder="Ingrese alguna información sobre la empresa"></textarea>
        </div>
        <div class="botones">
            <button type="submit" class="btn btn-success" style="border: solid 1px #fff;">
                <iconify-icon icon="ic:round-save" width="1.2rem" height="1.2rem"></iconify-icon> Guardar
            </button>
            <a th:href="@{/proveedores}" class="btn btn-secondary" style="border: solid 1px #fff;">
                <iconify-icon icon="streamline:return-2-solid" width="1.2rem" height="1.2rem"></iconify-icon> Cancelar
            </a>
        </div>
    </form>
</div>

<script>
$(document).ready(function() {
    $('#frmnuevo').on('submit', function(event) {
        event.preventDefault(); // Evita el envío inmediato del formulario
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            success: function(response) {
                swal({
                    title: "Proveedor Guardado",
                    text: "El nuevo proveedor se ha guardado correctamente",
                    icon: "success"
                }).then((value) => {
                    window.location.href = "/proveedores"; // Redirige después de la alerta
                });
            },
            error: function(response) {
                swal({
                    title: "Error",
                    text: "Hubo un problema al guardar el proveedor",
                    icon: "error"
                });
            }
        });
    });
});
</script>
</body>
</html>
